.recipe .recipe-container {
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  margin: 0rem 2rem 8rem 2rem;
}

.recipe .recipe-container .recipe-image {
  text-align: center;
  object-fit: cover;
  object-position: center;
  width: 85%;
  height: 13rem;
  box-shadow: 2px 2px 5px 4px rgba(0,0,0,0.5);
}

.recipe-container .recipe-content {
  text-align: initial;
}

.recipe-container .save-btn {
  color: black;
  margin: auto;
  margin-bottom: 6rem;
  z-index: 9999;
  height: 3rem;
  width: 20rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  background-color: #fcc431 !important;
  transition: all 0.1s ease-in-out;
  outline: none;
}

.recipe-container .save-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 10px 4px rgba(0,0,0,0.2);
}

.recipe-container .save-btn-img {
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
  background-image: url(../../../assets/like.svg);
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.2s;
}

/*.recipe-container .save-btn-img {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../../../assets/like.svg);
  width: 1.3rem;
  height: 1.3rem;
}*/

.recipe-container .saved .save-btn-img {
  background-image: url(../../../assets/heart.svg);
}

.recipe-container .save-btn span {
  color: black;
  margin-left: 0.7rem;
  vertical-align: middle;
}

.recipe-container .saved {
  background-color: #fcc431 !important;
  transition: all 0.1s ease-in-out;
}

.recipe-container .saved:hover {
  border: none;
}