.home-container {
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 3rem;
}

.home-container .ais-SearchBox { 
  margin: 1em 0;
}

.home-container .ais-SearchBox-submit, 
.home-container .ais-SearchBox-reset {
  padding: 1rem;
}