.recipe-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  height: 32rem;
  overflow: auto;
  overflow-x: hidden;
}

.ais-SearchBox { margin: 1em 0; }

.hit-description { color: #888; font-size: 14px; margin-bottom: .5em }
