.home-container {
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 5rem;
}

.home-container .ais-SearchBox-submit {
  background-color: #FFD362;
  width: 4rem;
  border-radius: 0.5rem;
  padding-bottom: 2rem;
  transition: all 0.5s;
}

.home-container .ais-SearchBox-submit:hover {
  background-color: #fcc431;
  transform: scale(1.05);
}

.home-container .ais-SearchBox-submit, 
.home-container .ais-SearchBox-reset {
  padding: 0.5rem;
  margin-left: 0.5rem;
  outline: none;
}

.home-container .ais-SearchBox-form > input[type="search"] {
  margin-top: 2rem;
  background-color: #eee;
  border-radius: 30px;
  border-width: 1px;
  border-style: none;
  width: 13rem;
  padding: 0.8rem 1rem;
}

.home-container .ais-SearchBox-form > input[type="search"]:focus {
  outline: none;
}

.home-container .ais-SearchBox-submit > svg, 
.home-container .ais-SearchBox-reset > svg {
  width: 1.5rem;
  height: 1.5rem;
}
